**Functions or Methods**
- (some operations are performing)
- **function** is Reuse of code

- Functions with out arguments
- Functions with arguments
- Functions with default arguments
- Global variables vs local variables
- Functions with return statement
- Function with kwargs(keyword arguments)
- Functions in functions

In [ ]:
# syntax
def <function name>():    # def (defination)
    <write your code here>

In [ ]:
**Function With Out Arguments**
- the function we defined does not have any values or variables
- these is called as Arguments or Parameters
- Simply it is empty bracket

In [3]:
n1=eval(input('enter the n1')) 
n2=eval(input('enter the n2'))
add=n1+n2
print(f"the addition of {n1}, {n2} is: {add}")

enter the n1 65
enter the n2 15

the addition of 65, 15 is: 80

### Function With out Arguments

In [5]:
def add():
    n1=eval(input('enter the n1')) 
    n2=eval(input('enter the n2'))
    add=n1+n2
    print(f"the addition of {n1}, {n2} is: {add}")

In [7]:
# function is ready
# creating function means it will not give the answer
# you need to call the function
add()

enter the n1 45
enter the n2 25

the addition of 45, 25 is: 70

In [9]:
add

In [11]:
import random
random.randint

**Note**
- while calling the function we need to use the function name
- also we need to provide brackets
- in python brackets indicates it is a function or method
- if we miss the brackets, it will display as,
       - function
       - bound method

In [13]:
a=10

In [15]:
name='python'

In [17]:
add()

enter the n1 45
enter the n2 25

the addition of 45, 25 is: 70

- once we create the function we can use anywhere in the same notebook
- if you want to use in onther note book
- we need to create as package(oops)

In [19]:
def addition():
    n1=eval(input('enter the n1')) 
    n2=eval(input('enter the n2'))
    add=n1+n2
    print(f"the addition of {n1}, {n2} is: {add}")
addition()

enter the n1 78
enter the n2 98

the addition of 78, 98 is: 176

In [21]:
def subtraction():
    n1=eval(input('enter the n1')) 
    n2=eval(input('enter the n2'))
    sub=n1-n2
    print(f"the addition of {n1}, {n2} is: {sub}")
subtraction()

enter the n1 85
enter the n2 98

the addition of 85, 98 is: -13

In [23]:
def Averange():
    n1=eval(input("enter the n1:"))
    n2=eval(input("enter the n2:"))
    n3=eval(input("enter the n3:"))
    avg=(n1+n2+n3)/3
    print(f"the avg of {n1}, {n2} and {n3} is {avg}") 
Averange()

enter the n1: 78
enter the n2: 54
enter the n3: 12

the avg of 78, 54 and 12 is 48.0

In [25]:
# write ask the user take the breadth and height from keyboard?
# calculate area of right angle triangle
# formula(area)=0.5*b*h
def area_of_right_angle_triangle():
    breadth=eval(input('enter a breadth'))
    height=eval(input('enter a height'))
    area=0.5*breadth* height
    print(f"area_of_right_angle_triangle is: {area}")
area_of_right_angle_triangle()

enter a breadth 85
enter a height 12

area_of_right_angle_triangle is: 510.0

- variable names should not equal to function names

In [27]:
# write ask the take the radius(r) from keyboard
# calculate the area of circle
#formula=pi*r*r (pi=22/7=3.14)
def area_of_circle():
    radius=eval(input('enter a radius'))
    pi=3.14
    area=pi*radius*radius
    area1=round(area,2)
    print(f"the area of circle is: {area1}")
area_of_circle()

enter a radius 65

the area of circle is: 13266.5

In [29]:
# write ask the user enter bill amount
# ask the user provide how mich tip amount he wants to give
# calculate the total bill
def total_bill():
    bill_amount=eval(input('enter a bill amount'))
    tip_amount=eval(input('enter a tip amount'))
    total_bill=bill_amount+tip_amount
    print(f"the total bill is: {total_bill}")
total_bill()

enter a bill amount 850
enter a tip amount 100

the total bill is: 950

In [1]:
# write ask the user enter bill amount
# ask the user provide how mich tip Percentage he wants to give
# calculate the total bill
def tip_per():
    bill_amount=eval(input('enter a bill amount'))
    tip_per=eval(input('enter a tip_per'))
    tip_amount=bill_amount*tip_per/100
    total_bill=bill_amount+tip_amount
    print(f"the total bill is: {total_bill} ")
tip_per()

enter a bill amount 1254
enter a tip_per 250

the total bill is: 4389.0

In [33]:
try:
    n1=eval(input("enter the n1:"))
    n2=eval(input("enter the n2:"))
    n3=eval(input("enter the n3:"))
    avg=(n1+n2+n3)/3
    print(f"the avg of {n1}, {n2} and {n3} is {avg}") 
except exception as e:
    print(e)

enter the n1: 45
enter the n2: 95
enter the n3: 63

the avg of 45, 95 and 63 is 67.66666666666667

In [35]:
def AVERANGE():
    try:
        n1=eval(input("enter the n1:"))
        n2=eval(input("enter the n2:"))
        n3=eval(input("enter the n3:"))
        avg=(n1+n2+n33333)/3
        print(f"the avg of {n1}, {n2} and {n3} is {avg}") 
    except Exception as e:
        print(e)
    
AVERANGE()

enter the n1: 75
enter the n2: 65
enter the n3: 35

name 'n33333' is not defined

In [37]:
try:
    def AVERANGE():
        n1=eval(input("enter the n1:"))
        n2=eval(input("enter the n2:"))
        n3=eval(input("enter the n3:"))
        avg=(n1+n2+n3333)/3
        print(f"the avg of {n1}, {n2} and {n3} is {avg}") 
except Exception as e:
         print(e)
    
AVERANGE()

enter the n1: 75
enter the n2: 85
enter the n3: 42

NameError: name 'n3333' is not defined

- Note
- always give try and except for only on code
- not for function
- inside the function write **try_except**
- **Try and except for write a code(def function code) entire function will not catch the error**

In [39]:
def AVERANGE():   
    try:
    
        n1=eval(input("enter the n1:"))
        n2=eval(input("enter the n2:"))
        n3=eval(input("enter the n3:"))
        avg=(n1+n2+n3)/3
        print(f"the avg of {n1}, {n2} and {n3} is {avg}") 
    except Exception as e:
         print(e)
    
AVERANGE()

enter the n1: 95
enter the n2: 42
enter the n3: 63

the avg of 95, 42 and 63 is 66.66666666666667

In [43]:
def area_of_right_angle_triangle():
    try:
        breadth=eval(input('enter a breadth'))
        height=eval(input('enter a height'))
        area=0.5*breadth* height
        print(f"area_of_right_angle_triangle is: {area}")
    except Exception as e:
        print(e)
        
area_of_right_angle_triangle()

enter a breadth 85
enter a height 25

area_of_right_angle_triangle is: 1062.5

In [45]:
def area_of_circle():
    try:
        radius=eval(input('enter a radius'))
        pi=3.14
        area=pi*radius*radius
        area1=round(area,2)
        print(f"the area of circle is: {area1}")
    except Exception as e:
        print(e)
        
area_of_circle()

enter a radius 65

the area of circle is: 13266.5

In [47]:
def total_bill():
    try:
        bill_amount=eval(input('enter a bill amount'))
        tip_amount=eval(input('enter a tip amount'))
        total_bill=bill_amount+tip_amount
        print(f"the total bill is: {total_bill}")
    except Exception as e:
        print(e)
        
total_bill()

enter a bill amount 1125
enter a tip amount 50

the total bill is: 1175

In [ ]:
def AVERANGE():   
    try:
    
        n1=eval(input("enter the n1:"))
        n2=eval(input("enter the n2:"))
        n3=eval(input("enter the n3:"))
        avg=(n1+n2+n3)/3
        print(f"the avg of {n1}, {n2} and {n3} is {avg}") 
    except Exception as e:
         print(e)
    
AVERANGE()    
#######################################################
def area_of_right_angle_triangle():
    try:
        breadth=eval(input('enter a breadth'))
        height=eval(input('enter a height'))
        area=0.5*breadth* height
        print(f"area_of_right_angle_triangle is: {area}")
    except Exception as e:
        print(e)
        
area_of_right_angle_triangle()
#######################################################
def area_of_circle():
    try:
        radius=eval(input('enter a radius'))
        pi=3.14
        area=pi*radius*radius
        area1=round(area,2)
        print(f"the area of circle is: {area1}")
    except Exception as e:
        print(e)
        
area_of_circle()
#########################################################
def total_bill():
    try:
        bill_amount=eval(input('enter a bill amount'))
        tip_amount=eval(input('enter a tip amount'))
        total_bill=bill_amount+tip_amount
        print(f"the total bill is: {total_bill}")
    except Exception as e:
        print(e)
        
total_bill()

In [49]:
print("AVERANGE function starts")
AVERANGE() 
print("area of right angle triangle function starts")
area_of_right_angle_triangle()
print("area of circle function starts")
area_of_circle()
print("total bill function starts")
total_bill()

AVERANGE function starts

enter the n1: 75
enter the n2: 68
enter the n3: 52

the avg of 75, 68 and 52 is 65.0
area of right angle triangle function starts

enter a breadth 65
enter a height 26

area_of_right_angle_triangle is: 845.0
area of circle function starts

enter a radius 43

the area of circle is: 5805.86
total bill function starts

enter a bill amount 987
enter a tip amount 400

the total bill is: 1387

In [51]:
def AVERANGE1():
        n1=eval(input("enter the n1:"))
        n2=eval(input("enter the n2:"))
        n3=eval(input("enter the n3:"))
        avg=(n1+n2+n3333)/3
        print(f"the avg of {n1}, {n2} and {n3} is {avg}") 

AVERANGE1()

enter the n1: 65
enter the n2: 42
enter the n3: 35

NameError: name 'n3333' is not defined

In [ ]:
**Note**
- when we define the function, it will not give any error or any answer
- if we want to see any error or any answer we need to call the function

**Functions with Arguments**

- lets creat an addition program code

In [75]:
def addition():
    n1=eval(input('enter a num1'))
    n2=eval(input('enter a num2'))
    add=n1+n2
    print(f'the addition of {n1} and {n2} is: {add}')
addition()

enter a num1 45
enter a num2 35

the addition of 45 and 35 is: 80

In [ ]:
- how many variables are there in above code: 3
         - n1, n2, add 
- what are the input variables
         - n1, n2
- what are output variables
         - add
- pass the input variables inside the function brackets
- pass n1,n2 inside the brackets, these n1, n2 behave as function arguments

In [79]:
# Funcion with Arguments
def addition1(n1,n2):
    add=n1+n2
    print(f'the addition of {n1} and {n2} is: {add}')
addition1(10,20)

the addition of 10 and 20 is: 30

In [83]:
addition1()

TypeError: addition1() missing 2 required positional arguments: 'n1' and 'n2'

In [89]:
from random import randint
randint(25)

TypeError: Random.randint() missing 1 required positional argument: 'b'

In [95]:
def average(n1,n2,n3):
    avg=(n1+n2+n3)/3
    print(f"the average is {n1}, {n2}, {n3}is: {avg}")
average(42,65,75)

the average is 42, 65, 75is: 60.666666666666664

In [97]:
def area_right_angle(breadth,height):
    area=0.5*breadth*height
    print(f"the area right angle is: {area} ")
area_right_angle(45,62)

the area right angle is: 1395.0

In [101]:
def area_of_circle(radius,radius1):
    pi=3.14
    area=3.14*radius*radius1
    print(f"area of circle is: {area}")
area_of_circle(25,12)

area of circle is: 942.0

In [115]:
def total_bill(billamount,tipamount):
    totalbill=billamount+tipamount
    print(f"the total bill is: {totalbill}")
total_bill(500,200)

the total bill is: 700

In [129]:
def avg(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    n3=eval(input('enter a n3'))
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
avg(20,35)    

# while calling the function we want to provide n1,n2
# while running the function we want to provide n3

n1: 20
n2: 35

enter a n3 65

the average of 20,35 and 65is: 40.0

In [133]:
def avg(n1):
    n2=eval(input('enter a n2'))
    n3=eval(input('enter a n3'))
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
avg(20)

enter a n2 35
enter a n3 65

the average of 20,35 and 65is: 40.0

In [135]:
def avg():
    n1=eval(input('enter a n1'))
    n2=eval(input('enter a n2'))
    n3=eval(input('enter a n3'))
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
avg()

enter a n1 35
enter a n2 45
enter a n3 65

the average of 35,45 and 65is: 48.333333333333336

In [ ]:
def avg():
    n1=eval(input('enter a n1'))
    n2=eval(input('enter a n2'))
    n3=eval(input('enter a n3'))
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
###########################################################
def avg(n1):
    n2=eval(input('enter a n2'))
    n3=eval(input('enter a n3'))
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
avg(20) 
#############################################################
def avg(n1,n2):
    print('n1:',n1)
    print('n2:',n2)
    n3=eval(input('enter a n3'))
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
avg(20,35)  
##############################################################
def average(n1,n2,n3):
    avg=(n1+n2+n3)/3
    print(f"the average is {n1}, {n2}, {n3}is: {avg}")
average(42,65,75)

In [147]:
2**2
2**3
2**4
number=eval(input('enter the number:'))
power=eval(input('how much power we want:'))
print(number**power)

enter the number: 9
how much power we want: 6

531441

In [151]:
def power():
    number=eval(input('enter the number:'))
    power=eval(input('how much power we want:'))
    print(number**power)
power()

enter the number: 16
how much power we want: 12

281474976710656

In [153]:
def power(number,power):
    print(number**power)
power(12,18)

26623333280885243904

In [155]:
def power():
    number=eval(input('enter the number:'))
    power=eval(input('how much power we want:'))
    print(number**power)
power(10)

TypeError: power() takes 0 positional arguments but 1 was given

**Function With Default Arguments**

In [157]:
def total_bill(billamount,tipamount=800):
    totalbill=billamount+tipamount
    print(f"the total bill is: {totalbill}")
total_bill(500)   
# total_bill(billamount,tipamount=800)----> is called as default arguments

the total bill is: 1300

In [168]:
def average(n1,n2=40,n3):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    print(f"the average is {n1}, {n2}, {n3}is: {avg}")
average(42,65)

SyntaxError: parameter without a default follows parameter with a default (1436734272.py, line 1)

**always write the default arguments at last**

In [171]:
def average(n1,n3,n2=40):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    print(f"the average is {n1}, {n2}, {n3}is: {avg}")
average(42,65)

n1: 42
n2: 40
n3: 65
the average is 42, 40, 65is: 49.0

In [173]:
def average(n3,n2,n1=35):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    print(f"the average is {n1}, {n2}, {n3}is: {avg}")
average(42,65)

n1: 35
n2: 65
n3: 42
the average is 35, 65, 42is: 47.333333333333336

In [ ]:
n1,n2,n3=100      # W
n1,n2=100,n3      # f  
n1=100,n2,n3      # f
n1,n2=100,n3=200  # w
n1=100,n2=100,n3  # f 
n1=100,n2,n3=100   # f
n1=100,n2=200,n3=300  # W
n3,n1=100,n2=200      # w
n2,n3=200,n1=500      # W

In [ ]:
# with out arguments
# with arguments
# default argumnts

# write ask the user enter a number
# ask the user get a random number
# if both numbers are match print win
# otherwise lost

In [185]:
import random 
num1=random.randint(1,10)
num2=eval(input('enter a number n2'))
if num1==num2:
    print('win')
else:
    print('lost')

enter a number n2 2

win

In [187]:
# With out Arguments:
def condition():
    num1=random.randint(1,10)
    num2=eval(input('enter a number n2:'))
    if num1==num2:
        print('win')
    else:
        print('lost')
condition()

enter a number n2: 5

lost

In [191]:
# With Arguments:
def condition1(num2):
    num1=random.randint(1,10)
    if num1==num2:
        print('win')
    else:
        print('lost')
condition1(8)

lost

In [201]:
# default Arguments:
def condition2(num2=3):
    num1=random.randint(1,10)
    if num1==num2:
        print('win')
    else:
        print('lost')
condition2()

lost

In [205]:
condition()  
condition1(8)
condition2()

enter a number n2: 10

win
lost
lost

**case-1**
- step1: define the function 
- step2: call the function
- step3: run the function

In [208]:
def average(n1,n2,n3=65):
    print('n1:',n1)
    print('n2:',n2)
    print('n3:',n3)
    avg=(n1+n2+n3)/3
    print(f"the average is {n1}, {n2}, {n3}is: {avg}")
average(42,35,80)
# python is always take a LATEST value
# while defining n3=65
# while calling n3=80
# while running also n3=80

n1: 42
n2: 35
n3: 80
the average is 42, 35, 80is: 52.333333333333336

In [5]:
def add(a,b,c=30):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    print(add)
add(20,50,100)

a: 20
b: 50
c: 100
170

In [7]:
def add(a,b,c=30):
    c=600
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    print(add)
add(20,50,100)
# it takes a latest value c=600

a: 20
b: 50
c: 600
670

In [13]:
def add(a,b,c=30):
    c=600
    print('a:',a)
    print('b:',b)
    print('c:',c)
    c=1000
    add=a+b+c
    print(add)
add(20,50,100)

a: 20
b: 50
c: 600
1070

In [23]:
def add(a,b,c=30):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    print(add)
print('fallow the step by step process')
c=450
add(20,50,100)
# define=30
# running=450
# calling=100

fallow the step by step process
a: 20
b: 50
c: 100
170

In [25]:
def add(a,b,c=30):
    c=800
    print('a:',a)
    print('b:',b)
    print('c:',c)
    c=900
    add=a+b+c
    print(add)
c=450
add(20,50,100)
# define=30
# running=450
# calling=800
# calling=900----->970

a: 20
b: 50
c: 800
970

In [27]:
c=300
def add(a,b,c=30):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    print(add)
add(20,50,100)
# define=300
# running=30
# calling=100

a: 20
b: 50
c: 100
170

In [32]:
c=300
def add(a,b,c=30):
    c=400
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    c=500
    print(add)
c=300    
add(20,50,100)
# define=300
# running=30
# calling=300
# calling=100
# calling=400---->50+20+400=470

a: 20
b: 50
c: 400
470

In [34]:
c=300
def add(a,b,c=30):
    c=400
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    c=500
    print(add)
    print(c)
c=300    
add(20,50,100)

a: 20
b: 50
c: 400
470
500

In [36]:
c=300
def add(a,b,c):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    add=a+b+c
    print(add)
    print(c)   
add(20,50)

TypeError: add() missing 1 required positional argument: 'c'

**Local Variables vs Global Variables**
- Local variables are used inside the function. also called as **With Out Arguments**
- Global variables are used outside the function
- Global variable can be used at anywher **inside the function** or **Outside the function**

In [41]:
# Global variable can be used at anywher inside the function or Outside the function
n1=eval(input('enter a n1'))
n2=eval(input('enter a n2'))
n3=eval(input('enter a n3'))
# outside the function
def avg():
    avg=(n1+n2+n3)/3
    print(f"the average of {n1},{n2} and {n3}is: {avg} ")
avg()

enter a n1 68
enter a n2 45
enter a n3 57

the average of 68,45 and 57is: 56.666666666666664

In [43]:
print(n1,n2,n3)

68 45 57

- Global variable can be used at anywher.
- inside the function or Outside the function

In [2]:
# Inside the function
def avg1():
    N1=eval(input('enter a N1'))
    N2=eval(input('enter a N2'))
    N3=eval(input('enter a N3'))
    avg=(N1+N2+N3)/3
    print(f"the average of {N1},{N2} and {N3} is: {avg} ")
avg1()

enter a N1 45
enter a N2 98
enter a N3 75

the average of 45,98 and 75 is: 72.66666666666667

In [4]:
print(N1,N2,N3)

NameError: name 'N1' is not defined

- Local variables can not use out side the function
- in above code N1,N2,N3 is local variable
- we are trying the outside the function it is through the error

In [7]:
a=eval(input('enter a a'))
b=eval(input('enter a b'))
c=eval(input('enter a c'))
def avg4():
    avg=(a+b+c)/3
    print(f"the average of {a}, {b}, {c}is: {avg} ")
avg4()

enter a a 30
enter a b 20
enter a c 10

the average of 30, 20, 10is: 20.0

In [13]:
avg

NameError: name 'avg' is not defined

- Global variables are can be intialized outside the functions
- Global variables are can be anywhere
- Local variables are intialized inside the functions
- Local variables can not use outside the funcions

In [70]:
A=200
B=300
def summ(A=500):
    C=400
    add=A+B+C
    print(f"the average of {A}, {B} and {C} is {add}")
summ()

the average of 500, 300 and 400 is 1200

In [72]:
A=200
B=300
def summ(A=500):
    A=600
    C=400
    add=A+B+C
    print(f"the average of {A}, {B} and {C} is {add}")
summ()

the average of 600, 300 and 400 is 1300

In [76]:
A=200
B=300
def summ(A=500):
    C=400
    add=A+B+C
    print(f"the average of {A}, {B} and {C} is {add}")
summ(A=100)

the average of 100, 300 and 400 is 800

In [80]:
A=200
B=300
def summ():
    C=400
    add=A+B+C
    print(f"the average of {A}, {B} and {C} is {add}")
A=2000    
summ()

the average of 2000, 300 and 400 is 2700

In [82]:
A=200
B=300
def summ(A=4000):
    C=400
    A=8000
    add=A+B+C
    print(f"the average of {A}, {B} and {C} is {add}")
A=2000    
summ(A=3000)

the average of 8000, 300 and 400 is 8700

**How to use local variables outside the function call**

In [102]:
a=eval(input('enter a a'))
b=eval(input('enter a b'))
c=eval(input('enter a c'))
def avg3():
    AVG=(a+b+c)/3
    print(f"the average of {a}, {b}, {c}is: {AVG} ")
avg3()

enter a a 300
enter a b 200
enter a c 100

the average of 300, 200, 100is: 200.0

In [108]:
AVG

NameError: name 'AVG' is not defined

In [114]:
A=100
B=200
C=300
def add2():
    global ADD
    ADD=A+B+C
    print(f"the addition of {A}, {B} and {C} is: {ADD}")
add2()

the addition of 100, 200 and 300 is: 600

In [116]:
ADD

600

In [ ]:
- Local variables can use outside the function in two ways
- by making LOCAL variable as Global variable by using global
- by using return statement also

In [120]:
N1=eval(input('enter a N1'))
N2=eval(input('enter a N2'))
N3=eval(input('enter a N3'))
def AVG2():
    global avg
    avg=(N1+N2+N3)/3
    print(f"the average of {N1},{N2} and {N3} is: {avg} ")
AVG2()
print(avg)

enter a N1 100
enter a N2 200
enter a N3 300

the average of 100,200 and 300 is: 200.0
200.0

In [122]:
avg

200.0

In [7]:
12345//10,12345%10

(1234, 5)

In [9]:
123456//10,1234567%10

(12345, 7)

In [11]:
180%10

0

In [13]:
def sum(a,b):       # function name with (default variable) local variable
    add=a+b
    sub=a-b
    print(add,sub)
sum(20,30)

50 -10

In [15]:
def sum(a,b):       # function name with (default variable) local variable
    global add,sub  # outside function(global variable) 
    add=a+b
    sub=a-b
    print(add,sub)
sum(20,30)

50 -10

In [17]:
add,sub

(50, -10)

In [19]:
def fun1():
    a=10
    b=b+a
    print(b)
fun1()

UnboundLocalError: cannot access local variable 'b' where it is not associated with a value

In [21]:
def fun2():
    a=10
    c=b+a
    print(c)
fun2()

NameError: name 'b' is not defined

**unbound local error**
- unbound local error means the variable is not defined
- that varables is used as both input and output inside the function

In [25]:
a=10
b=b+a

NameError: name 'b' is not defined

**Return statement**
- till now above we have created a function with print statement in order to see the output
- the function output we are not able to use outside the function
- because it is a local variable
- one method we used to is global
- onther method is return statement
- return means some thing we are receiving
- print means we can see the answer

In [28]:
def add(a,b):
    c=a+b
    return(c)
value=add(10,20)

In [30]:
value

30

In [34]:
def add_sub(a,b):
    sum=(a+b)
    sub=(a-b)
    return(sum,sub)
    print(sum,sub)
sum,sub=add_sub(200,500)

In [36]:
sum,sub

(700, -300)

In [38]:
print(sum,sub)

700 -300

In [42]:
def add_sub(a,b):
    sum=a+b
    sub=a-b
    return(sum)
    return(sub)
add_sub(300,200)

500

In [ ]:
n1=100,200    # W
n1,n2=100,200 # w
n1,n2=200     # f

In [44]:
n1=100,200
n1

(100, 200)

In [48]:
def add_sub(a,b):
    sum=a+b
    sub=a-b
    return(sum,sub)
output=add_sub(200,100)

In [50]:
output

(300, 100)

In [ ]:
def add(a,b):
    c=a+b
    return(c)
value=add(10,20)    
####################################
def add_sub(a,b):
    sum=(a+b)
    sub=(a-b)
    return(sum,sub)
    print(sum,sub)
sum,sub=add_sub(200,500)    
##################################
def add_sub(a,b):
    sum=a+b
    sub=a-b
    return(sum)
    return(sub)
add_sub(300,200)

In [52]:
n1,n2=100

TypeError: cannot unpack non-iterable int object

In [ ]:
n1,n2=110,200  #F
n1=100,200 #W-----tuple

**global variable vs return statement**
- global keyword is used for we can take the inside variable to outside variable
- return can return any value outside the function
- **the value you return can be used to onther note book**

**Function in Function**

In [56]:
def greet1():
    print("Hello Data science")

def greet2():
    print("Hello Python")
greet1()
greet2()

Hello Data science
Hello Python

In [60]:
def greet1():
    print("Hello Data science")

def greet2():
    print("function starts")
    greet1()
    print("Hello Python")
greet2()

function starts
Hello Data science
Hello Python

In [62]:
def greet1():
    print("function starts")
    greet2()
    print("Hello Data science")
def greet2():
    print("hello Python")
greet1()

function starts
hello Python
Hello Data science

In [ ]:
def greet1():
    print("function starts")
    greet2()
    print("Hello Data science")
def greet2():
    print("function starts")
    greet1()
    print("Hello Python")
greet2()        

it is step by step process we called greet2 before declaration why did't throw any error

In [3]:
def inside_function():
    print(f"hello {name} good moning")
    # name is not defined not even globally
    # if i call this function defination a will get error

def outside_function():
    inside_function(name)
    
outside_function('Python')

TypeError: outside_function() takes 0 positional arguments but 1 was given

In [6]:
def inside_function(name):
    print(f"hello {name} good moning")
        # TypeError: outside_function() 
        # takes 0 positional arguments but 1 was given gthrough error
def outside_function():
    inside_function(name)
    
outside_function('Python')

TypeError: outside_function() takes 0 positional arguments but 1 was given

In [8]:
def inside_function(name):
    print(f"hello {name} good moning")
    
def outside_function(name):
    inside_function(name)
    
outside_function('Python')

hello Python good moning

In [86]:
def outside_function(name):
    
    def inside_function(name):
        print(f"hello {name} good morning")
        inside_function('loki')
outside_function('loki')

In [88]:
def add(a,b):
    print(a+b)
add(20,30)

50

In [103]:
def MATH():
    def add(a,b):
         print(a+b)
    add(20,30)
    
MATH()

50

In [105]:
def MATH1():
    
    def MATH():
        def add(a,b):
             print(a+b)
        add(20,30)
    MATH()    
    
MATH1()

50

In [109]:
def MATH1(a,b):
    
        def add():
             print(a+b)
        add()
        
MATH1(30,40)

70

In [113]:
def outside_function(name):
    
    def inside_function():
        print(f"hello {name} good morning")
    inside_function()
        
outside_function('loki')

hello loki good morning

In [115]:
# calculator program

# create 4 functions
# add function
 def add(a,b):
     print(a+b)
add(40,15)
# sub function
# mul function
# div function
# print(enter the value 1,2,3,4)
# main function
# a=number
# b=number
# operator
# if operator==1
# add()

In [41]:
def ADD(a,b):
    print(a+b)
ADD(20,30)

def SUB(a,b):
    print(a-b)
SUB(20,30)

def MUL(a,b):
    print(a*b)
MUL(20,30)

def DIV(a,b):
    print(a/b)
DIV(20,30)

50
-10
600
0.6666666666666666