## List

- intilazation
- inbuilt functions
    - type
    - print
    - max
    - min
   - len
   - reversed
   - sorted
- index operations(for loop range vs in)
- concatenation
- mutable vs immutable
- slicing
- List methods

- strings denoted with 'quotes'
- list denoted with square brackets
- list means array of elements
- list can access any data type together

In [4]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [6]:
type(l1)

list

In [8]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [10]:
l3=[1,2,3,4,'a','b','c','d']
l3

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [12]:
l1=[1,2,3,4]
print(l1)

[1, 2, 3, 4]

In [16]:
l1='list'
max(l1)

't'

In [18]:
l1='list'
min(l1)

'i'

In [20]:
l1='list'
len(l1)

4

In [230]:
l1='list'
sorted(l1)

['i', 'l', 's', 't']

In [154]:
#############
for i in reversed(l1):
    print(l1)

list
list
list
list

In [148]:
l1='list'
list(reversed(l1))

['t', 's', 'i', 'l']

In [ ]:
# create as many as lists with different ways means different data types

In [28]:
l4=[10,20,30,'apple','banana','cherry',True,False,10.5,20.5,20+30j]
l4
# list can represents with any data type

[10, 20, 30, 'apple', 'banana', 'cherry', True, False, 10.5, 20.5, (20+30j)]

In [30]:
l5=[10,10,10]
l5
# duplicates are allowed

[10, 10, 10]

In [38]:
l6=[10,20,30,['A','B','C']]
l6

[10, 20, 30, ['A', 'B', 'C']]

In [42]:
l7=[]
l7

[]

In [46]:
l8=[_]
l8

['{"dataframes": [], "user": "Sandeep"}']

In [48]:
l8=[_]
l8
# underscore means variable

['{"dataframes": [], "user": "Sandeep"}']

In [52]:
[python]  # error
[_]       # ANS

NameError: name 'python' is not defined

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'a','b','c','d']
l4=[10,20,30,'apple','banana','cherry',True,False,10.5,20.5,20+30j]
l5=[10,10,10]
l6=[10,20,30,['A','B','C']]
l7=[]
l8=[_]

- list can access with the square brackets
- list can have any data type of elements
   - Hetrogenous
- list can have duplicates
- list in list is possiable
- empty list can also possiable
- the values inside list is called as elements

In [62]:
len(l1),len(l2),len(l3),len(l4),len(l5),len(l6),len(l7)

(4, 4, 8, 11, 3, 4, 0)

In [66]:
l1=[1,2,3,4]
min(l1),max(l1)

(1, 4)

In [70]:
l2=['A','B','C','D']
min(l2),max(l2)

('A', 'D')

In [72]:
l3=[1,2,3,4,'a','b','c','d']
min(l3)
# same data type should be compare
# 'A'= ====some level
# 1 =======some level(not happened)

TypeError: '<' not supported between instances of 'str' and 'int'

In [74]:
l4=[10,20,30,'apple','banana','cherry',True,False,10.5,20.5,20+30j]
min(l4) #FAil

TypeError: '<' not supported between instances of 'str' and 'int'

In [76]:
l5=[10,10,10]
min(l5),max(l5)

(10, 10)

In [78]:
l6=[10,20,30,['A','B','C']]
chr(10)

'\n'

In [80]:
chr([])

TypeError: 'list' object cannot be interpreted as an integer

In [82]:
ord([])

TypeError: ord() expected string of length 1, but list found

In [84]:
min(l6)

TypeError: '<' not supported between instances of 'list' and 'int'

In [92]:
l7=[]
min([l7]),max([l7])

([], [])

In [94]:
l7=[]
min([]),max([])

ValueError: min() iterable argument is empty

In [100]:
 len([]),len([100]),len([''])

(0, 1, 1)

In [104]:
min(['','a'])

''

In [108]:
len('100'),len([100])

(3, 1)

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'a','b','c','d']
l4=[10,20,30,'apple','banana','cherry',True,False,10.5,20.5,20+30j]
l5=[10,10,10]
l6=[10,20,30,['A','B','C']]
l7=[]

In [124]:
sorted(l1)

[1, 2, 3, 4]

In [126]:
sorted(l2)

['A', 'B', 'C', 'D']

In [128]:
sorted(l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [130]:
sorted(l4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [132]:
sorted(l5)

[10, 10, 10]

In [134]:
sorted(l6)

TypeError: '<' not supported between instances of 'list' and 'int'

In [136]:
sorted(l7)

[]

In [142]:
reversed(l1)

In [144]:
for i in reversed(l1):
    print(i)

4
3
2
1

In [156]:
l1=[1,2,3,4]
list(reversed(l1))

[4, 3, 2, 1]

In [158]:
[reversed(l1)]

In [160]:
list(reversed(l2))

['D', 'C', 'B', 'A']

In [162]:
list(reversed(l3))

['d', 'c', 'b', 'a', 4, 3, 2, 1]

In [164]:
list(reversed(l4))

[(20+30j), 20.5, 10.5, False, True, 'cherry', 'banana', 'apple', 30, 20, 10]

In [166]:
list(reversed(l5))

[10, 10, 10]

In [168]:
list(reversed(l6))

[['A', 'B', 'C'], 30, 20, 10]

In [172]:
list(reversed(l7))

[]

- sorted will compare the elements
- the same rules applicale for min and max
- sorted never return ant error eventhough we have an empty list
- min and max will give error if it has empty list
- reversed only do reverse elements

## sum

In [175]:
sum(l1)

10

In [177]:
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [180]:
sum(l3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [182]:
sum(l4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [184]:
sum(l5)

30

In [1]:
l6=[10,20,30,['A','B','C']]
sum(l6)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [3]:
l7=[]
sum(l7)

0

In [7]:
sum([100,200,300],start=100)

700

In [9]:
sum([10,20,30],start=100)

160

In [ ]:
sum=0
sum=sum+i

### Index

In [14]:
l1=[1,2,3,4,'A','B','C']

#  -7  -6  -5  -4   -3   -2     -1
# [1,  2,  3,  4,  'A',  'B',  'C']
# 0    1   2   3   4      5     6

In [18]:
l1[0],l1[-3]

(1, 'A')

In [28]:
# by using for loop print the positive index
l1=[10,20,30,40,'A','B','C']
for i in range(len(l1)):
    print(f"the positive index of {l1[i]} is:{i}")

the positive index of 10 is:0
the positive index of 20 is:1
the positive index of 30 is:2
the positive index of 40 is:3
the positive index of A is:4
the positive index of B is:5
the positive index of C is:6

In [42]:
# by using for loop print the positive index
n=len(l1)
l1=[10,20,30,40,'A','B','C']
for i in range(n):
    print(f"the negative index of {l1[i]} is:{i-n}")

the negative index of 10 is:-7
the negative index of 20 is:-6
the negative index of 30 is:-5
the negative index of 40 is:-4
the negative index of A is:-3
the negative index of B is:-2
the negative index of C is:-1

In [232]:
# by using for loop print both positive index and negative index
l1=l1=[10,20,30,40,'A','B','C']
for i in range(len(l1)):
    print(f"the {i} positive index of {l1[i]} and negative index of {i-len(l1)} ")

the 0 positive index of 10 and negative index of -7
the 1 positive index of 20 and negative index of -6
the 2 positive index of 30 and negative index of -5
the 3 positive index of 40 and negative index of -4
the 4 positive index of A and negative index of -3
the 5 positive index of B and negative index of -2
the 6 positive index of C and negative index of -1

In [48]:
l=[10,20,30,]
l[0]

10

In [66]:
l=[[10,20,30]]
# how to access the 10
len(1)

TypeError: object of type 'int' has no len()

In [68]:
l[0][0]

10

In [76]:
l=[[10,20,30,]]
# how many elements are there in a list:3
l[0]

[10, 20, 30]

In [80]:
l=[
    [10,20,30]
]
# how many elements are there in a list:1 element
#len(1)
l[0][0],l[0][1],l[0][2]

(10, 20, 30)

In [96]:
l1=[10,20,['A','B']]
# how many elements are there: 3
#len(l1)
# how can we access 0, 1, 2
l1[2]

['A', 'B']

In [98]:
l1=[10,20,['A','B']]
l1[2][0]

'A'

In [238]:
l1=[1,2,3,4,[5,6,['Apple']]]
l1[4][2][0]

'Apple'

In [146]:
l1=[1,2,3,[4,[5,['cherry']]]]
l1[3][1][1][0]

'cherry'

In [136]:
l1=[1,2,3,[4,[5,['cherry']]]]
l1

[1, 2, 3, [4, [5, ['cherry']]]]

In [194]:
l1=[[[[[[[[['onion']]]]]]]]]
l1[0][0][0][0][0][0][0][0][0]

'onion'

In [180]:
l1=['Apple',['kashmir',['india',['mumbai',['sharuk',['film',['DDlj']]]]]]]
l1

['Apple', ['kashmir', ['india', ['mumbai', ['sharuk', ['film', ['DDlj']]]]]]]

In [190]:
l1[1][1][1][1][1][1][0]

'DDlj'

**Mutuable vs immutable**

In [16]:
str1='welcome'
str1[2]='L'
str1

TypeError: 'str' object does not support item assignment

In [12]:
l1=['w','e','l','c','o','m','e']
l1[2]='L'
l1

['w', 'e', 'L', 'c', 'o', 'm', 'e']

- we can change the list elements using index

**concatenation**

In [18]:
s1='hello'
s2='python'
s1+s2

'hellopython'

In [ ]:
s1*s2 # NW
s1-s2 # Nw
s1/s2 # Nw

In [22]:
s1*2

'hellohello'

In [24]:
l1=['h','e','l','l','o']
l2=['p','y','t','h','o','n']
l1+l2

['h', 'e', 'l', 'l', 'o', 'p', 'y', 't', 'h', 'o', 'n']

In [26]:
l1*2

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [ ]:
l1-l2  # Nw
l1*l2  # Nw
l1/l2  # Nw

**Slicing**

In [57]:
l1=[1,2,3,4,5,'A','B','C','D','10.5',True,10.5,100,200]

In [59]:
l1[:]

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', '10.5', True, 10.5, 100, 200]

In [61]:
l1[::]

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', '10.5', True, 10.5, 100, 200]

In [63]:
l1[::-1]

[200, 100, 10.5, True, '10.5', 'D', 'C', 'B', 'A', 5, 4, 3, 2, 1]

In [65]:
l1[2:14:2]

[3, 5, 'B', 'D', True, 100]

In [67]:
l1[2:14:-2]

[]

In [69]:
l1[2:-14:2]

[]

In [71]:
l1[-2:14:2]

[100]

In [87]:
l1[-2:-14:-2]

[100, True, 'D', 'B', 5, 3]

In [77]:
l1[14:2:2]

[]

In [79]:
l1[14:2:-2]

[200, 10.5, '10.5', 'C', 'A', 4]

In [81]:
l1[14:-2:2]

[]

In [89]:
l1[-14:2:2]

[1]

In [85]:
l1[-14:-2:-2]

[]

In [ ]:
l1=[1,2,3,4,5,'A','B','C','D','10.5',True,10.5,100,200]
l1[:]       # w
l1[::]      # w
l1[::-1]    # w
l1[2:14:2]  # w
l1[2:14:-2] # nw 
l1[2:-14:2] # nw 
l1[-2:14:2]  # w
l1[-2:-14:-2] # w
l1[14:2:2]  # nw
l1[14:2:-2] # w
l1[14:-2:2] #nw
l1[-14:2:2]   # w
l1[-14:-2:-2] # Nw

**Methods**

In [1]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
- clear
- copy 
- count
- reverse
- sort

In [3]:
l1=[10,20,30,40]
l1

[10, 20, 30, 40]

**clear**

In [5]:
l1.clear()

In [7]:
l1

[]

**copy**

In [11]:
l1=[10,20,30,40]
l1.copy()

[10, 20, 30, 40]

In [13]:
l1=[10,20,30,40]
l2=l1.copy()
l1.clear()
print('l2:',l2)
print('l1:',l1)

l2: [10, 20, 30, 40]
l1: []

**reversed vs reverse** 
- reversed is a inbuilt function
- reversed can be applicable all **iterable**
- reversed applicable for **strings,list,tuple,dict etc**
- reversed(string), reversed(list), reversed(tuple) etc
- **reverse**
- reverse is a method is belongs to only list
- reverse method can not applicable to strings tuple and dict
- list.reverse()

In [18]:
l1=[10,20,30,40,'A','B','C','D']
l1.reverse()
l1
# revesre the elements save the output
# in same variable
# it is indicates as **INPLACE** 
# some times inplace=True available

['D', 'C', 'B', 'A', 40, 30, 20, 10]

In [20]:
str1='hello how are you'
str1.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [22]:
reversed(str1)

In [26]:
list(reversed(str1))
list(reversed(l1))

[10, 20, 30, 40, 'A', 'B', 'C', 'D']

In [ ]:
l1.reverse() ans
str1.reverse()  # error

### sort vs sorted

In [29]:
type([]) # do not give list as variable

list

In [31]:
list1=[19,25,3,45,5]
list1.sort()
list1

[3, 5, 19, 25, 45]

In [33]:
list1=[19,25,3,45,5]
list1.sort(reverse=True)
list1

[45, 25, 19, 5, 3]

In [35]:
sorted(list1)

[3, 5, 19, 25, 45]

In [ ]:
sorted(string)  # Works
sorted(list)    # works

list.sort()  # works
string.sort() # fail

**append**

- append means add an element at the end of the list
- append is a method very important
- append is used to store the outputs in a list
- till last call we just printed all the outputs
- if we want to save the outputs we need to do append only
- append method we will use very vey frequently

In [39]:
l1=[]
l1.append(10)
l1

[10]

In [41]:
l1=[1,2,3]
l1.append('apple')
l1

[1, 2, 3, 'apple']

In [43]:
l1=[1,2,3,4]
l1.append('apple')
l1.append('banana')
l1.append([True,False])
l1

[1, 2, 3, 4, 'apple', 'banana', [True, False]]

In [49]:
# create a list of 10 numbers using for loop
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [61]:
l1=[]
for i in range(10):
    l1.append(i)
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1=[]
l1.append(1)
l1.append(2)
l1.append(3)

l1.append(i)

In [ ]:
# write a program ask the user get 5 random numbers
# perform the square of the random numbers
# save in a list

In [63]:
import random
l=[]
for i in range(5):
    num=random.randint(1,100)
    l.append(num*num)
l

[9, 1296, 121, 3481, 3364]

In [69]:
import random
l=[]
for i in range(5):
    num=random.randint(1,100)
    l.append(f"{num}:{num*num} ")
l

['90:8100 ', '96:9216 ', '47:2209 ', '14:196 ', '69:4761 ']

In [83]:
# list=[100,20,27,38,47,52,87]
# using this we need to extract even and odd numbers
# even_list=[100,20,38,52] the output should be sorted
# odd_list=[27,47,87] the output should be sorted
list1=[100,20,27,38,47,52,87]
even_list,odd_list=[],[]
for i in list1:
   if i%2==0:
       even_list.append(i)
   else:
       odd_list.append(i)
even_list.sort()
odd_list.sort()
even_list,odd_list

([20, 38, 52, 100], [27, 47, 87])

In [ ]:
# Q4)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']

#Q5)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']

#Q6)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']

#Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

#Q8) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']

#Q9) str1='virat.kohli@rcb.com; rohit.sharma@mi.com; dhoni.ms@csk.com'
#    fname=['virat','rohit','dhoni']
#    sname=['kohli','sharma','ms']
#    cname=['rcb','mi','csk']

# q10) get the 7 random numbers in a list between 1 to 100
#      find the min and max value with out using min and max function

# q11) str1='can canner can not can you canner can be can you can not'
#      list=['can-6','canner-2','not-2','you-2','be-1']

# q12) qns= ['who is pm of india','who is ICT captain',
#             'what is the capital of india']
#      ans=['modi','rohit','delhi']
#     step-1: iterate through each qn
#     step-2: user will enter the answer
#           check-1: the user given 'MODI' correct answer
#           check-2: qn index and ans index should be
#    step-3: count_marks=0 at the top
#    step-4:  for every correct answer 1 marks
#    step-5: how many correct answers and how many marks

In [1]:
# Q4)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']
l1=['hyd','chennai','mumbai','pune']

for i in l1:
   print(i.title())

Hyd
Chennai
Mumbai
Pune

In [13]:
# Q4)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [19]:
#Q5)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.upper())
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [1]:
#Q6)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
   
ans

['chen#ai', 'mu#bai']

In [33]:
#Q6)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
ans1=[]
ans2=[]
for i in l1:
    if '#' in i:
        ans1.append(i)
    if '#' not in i:
        ans2.append(i)
ans1,ans2  
#############################################
l1=['hyd','chen#ai','mu#bai','pune']
ans1=[]
ans2=[]
for i in l1:
    if '#' in i:
        ans1.append(i)
    else:
        ans2.append(i)
ans1,ans2

(['chen#ai', 'mu#bai'], ['hyd', 'pune'])

In [39]:
#Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']
l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' not in i:
       ans.append(i)
ans

['hyd', 'pune']

In [63]:
#Q8) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']
str1='hello hai how are you'
l=str1.split()
ans=[]
for i in l:
    ans.append(i.capitalize())
ans 
################################################
str1='hello hai how are you'
str1.title().split()

['Hello', 'Hai', 'How', 'Are', 'You']

In [67]:
' '.join(ans)

'Hello Hai How Are You'

**joining the list of elements**
- we can convert string to list by using **string.split**
- we can convert list to string by using **join(list)**

In [74]:
str1='hai how are you'
str1.split('h')

['', 'ai ', 'ow are you']

In [76]:
l1=['hai', 'how', 'are', 'you']
str1=' '
str1.join(l1)
'h'.join(l1)

'haihhowharehyou'

In [102]:
#Q9) str1='virat.kohli@rcb.com; rohit.sharma@mi.com; dhoni.ms@csk.com'
#    fname=['virat','rohit','dhoni']
#    sname=['kohli','sharma','ms']
#    cname=['rcb','mi','csk']
str1='virat.kohli@rcb.com; rohit.sharma@mi.com; dhoni.ms@csk.com'
l=str1.split(';')
f_name,s_name,c_name=[],[],[]
for i in l:
    first_dot=i.find('.')
    second_dot=i.find('.',first_dot+1)
    at_index=i.find('@')
    f_name.append(i[:first_dot])
    s_name.append(i[first_dot+1:at_index])
    c_name.append(i[at_index+1:second_dot])

In [104]:
f_name

['virat', ' rohit', ' dhoni']

In [106]:
l[0],l[1],l[2]
for i in l:
    print(i)

virat.kohli@rcb.com
 rohit.sharma@mi.com
 dhoni.ms@csk.com

In [119]:
# q10) get the 7 random numbers in a list between 1 to 100
#      find the min and max value with out using min and max function
import random
l=[]
for i in range(7):
    num=random.randint(1,100)
    l.append(num)
l

[32, 70, 73, 24, 86, 86, 99]

In [125]:
max_val=l[0]
for i in l[1:]:
    if i>max_val:
        max_val=i
print(max_val)

99

In [127]:
min_value=l[0]
for i in l[1:]:
    if i<min_value:
        min_value=i
print(min_value)

24

- assume that first value is a maximum value
- then iterate the loop from next value onwards
- apply the condition if any value greater then assumed value
- then replace max value with iterated value

In [164]:
# q11) str1='can canner can not can you canner can be can 
# you can not'
#      list=['can-6','canner-2','not-2','you-2','be-1']
str1='can canner can not can you canner can be can you can not'
l=str1.split()
print(l)
l2=[]

for i in l:
    if i not in l2:
        print(i,l.count(i))
        l2.append(i)

['can', 'canner', 'can', 'not', 'can', 'you', 'canner', 'can', 'be', 'can', 'you', 'can', 'not']
can 6
canner 2
not 2
you 2
be 1

In [172]:
l1=[]
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
        l1.append(f"{i}-{l.count(i)}")
l1

['can-6', 'canner-2', 'not-2', 'you-2', 'be-1']

In [190]:
# q12) qns= ['who is pm of india','who is ICT captain',
#             'what is the capital of india']
#      ans=['modi','rohit','delhi']
#     step-1: iterate through each qn
#     step-2: user will enter the answer
#           check-1: the user given 'MODI' correct answer
#           check-2: qn index and ans index should be
#    step-3: count_marks=0 at the top
#    step-4:  for every correct answer 1 marks
#    step-5: how many correct answers and how many marks
qns= ['who is pm of india','who is ICT captain','what is the capital of india']
ans=['modi','rohit','delhi']
count=0
for i in range(len(qns)):
    ANSWER=input(qns[i])
    if ANSWER.lower()==ans[i].lower():
        count=count+1
        print("the total correct answers:",count)

who is pm of india MODI

the total correct answers: 1

who is ICT captain ROHITS
what is the capital of india HYD

**pop vs remove**

In [195]:
l=[100,200,300,'A','B','C']

In [197]:
l.pop()
# pop will remove the element based on index
# if we dont give any index by default it will remove last value
# the default value index=-1

'C'

In [199]:
l

[100, 200, 300, 'A', 'B']

In [205]:
l=[100,200,300,'A','B','C']
l.pop(200)
l
# what will return as output
# [100, 200, 'A', 'B', 'C']  300

IndexError: pop index out of range

In [211]:
l=[100,200,300,100,100,'A','B','C']
l.remove(100)
l

[200, 300, 100, 100, 'A', 'B', 'C']

- pop except a index value
- remove except a **value**

In [ ]:
l=[100,200,300,100,100,'A','B','C']
# i want to remove the second 100
# remove or pop
# how can you remove the second 100
l.pop()

**index**

In [ ]:
l=[100,200,300,100,100,'A','B','C']
# pop is correct answer 
# pop wants a index
# here only 8 elements are there, so we are able to count
# imagine that there 80k elelments so we are not able to count
# when you are counting and giving: hard coded
# python code should give the answer automatically
# for that we need to use index method

In [218]:
l=[100,200,300,100,100,'A','B','C']
i1=l.index(100)
i2=l.index(100,i1+1)
l.pop(i2)
l

[100, 200, 300, 100, 'A', 'B', 'C']

In [222]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Extend**
- difference between concatnation vs append vs extend

In [35]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.append(l2)
l1

[1, 2, 3, 4, ['A', 'B', 'C', 'D']]

In [37]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [51]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1+l2
l1

[1, 2, 3, 4]

In [33]:
l1,l2

([1, 2, 3, 4], ['A', 'B', 'C', 'D'])

In [49]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l2.extend(l1)
l2,l1

(['A', 'B', 'C', 'D', 1, 2, 3, 4], [1, 2, 3, 4])

- extend and concatneation both have same behaviour
- means add the two lists
- but extend will overwrite the list

**Insert**

- difference between insert and append

In [74]:
l1=[1,2,3,4,'A','B','C','D']
l1.append(1000)
l1

[1, 2, 3, 4, 'A', 'B', 'C', 'D', 1000]

In [76]:
l1=[1,2,3,4,'A','B','C','D']
l1.insert(3,1000)
l1

[1, 2, 3, 1000, 4, 'A', 'B', 'C', 'D']

In [82]:
l1=[1,2,3,4,'A','B','C','D']
# i want insert 1000 before 'B' 
i1=l1.index('B')
l1.insert(i1,1000)
l1

[1, 2, 3, 4, 'A', 1000, 'B', 'C', 'D']

In [96]:
# write ask the user add the elements of the lists
# l1=[100,200,300]
# l2=[10,20,30]
# ans=[110,220,330] 
l1=[100,200,300] 
l2=[10,20,30]
l1[0]+l2[0]
l1[1]+l2[1]   
l1[2]+l2[2]

330

In [100]:
ans=[]
l1=[100,200,300] 
l2=[10,20,30]
for i in range(len(l1)):
    ans.append(l1[i]+l2[i])
ans

[110, 220, 330]

In [124]:
l1=[100,200,300,400] 
l2=[10,20,30]
l1[0]+l2[0]
l1[1]+l2[1]
l1[2]+l2[2]
l1[3]

400

In [195]:
l1=[100,200,300,400] 
l2=[10,20,30]
for i in range(len(l1)):
    if i < len(l2):
        print(l1[i]+l2[i])
    else:
       print(l1[i])

110
220
330
400

In [203]:
l1=[100,200,300,400] 
l2=[10,20,30]
# iterate th eloop with max length iterations
# if l2 values available then add those
#otherwise ppend l1 value in to ans list
len1=len(l1)
len2=len(l2)
max_val=max(len1,len2)
for i in range(max_val):
    if i < len(l2):
        print(l1[i]+l2[i])
    else:
        print(l1[i])

110
220
330
400

In [209]:
l1=[100,200,300,400] 
l2=[10,20,30]
ans=[110,220,330,400]
len1=len(l1)
len2=len(l2)
max_val=max(len1,len2)
ans=[]
for i in range(max_val):
    if i < len(l2):
        ans.append(l1[i]+l2[i])
    else:
        ans.append(l1[i])
ans

[110, 220, 330, 400]

**distance between two point**

In [226]:
#d=root([x2-x1]**2+[y2-y1]**2)

# step1:    l1=[2,5]     l2=[4,9]
#             x1,y1       x2,y2
# step2:    d1=x2-x1      d2=y2-y1
# step3:    (x2-x1)**2    (y2-y1)**2
# step4:     d=d1^2 + d2=d2^2  
# step5: math.sqrt(d)
# [x2-x1]=4-2=2^2=4
# [y2-y1]=9-5=4^2=16
# 4+16=20
# root of 20 is=4.72
import math
l1=[2,5]
l2=[4,9]
##############
x1=l1[0]
y1=l1[1]
x2=l2[0]
y2=l2[1]
############
d1=(x2-x1)
d2=(y2-y1)
############
d=d1**2+d2**2
math.sqrt(d)

4.47213595499958

In [228]:
math.sqrt((l2[0]-l1[0])**2+(l2[1]-l1[1])**2)
###########(x2-x1)**2+(y2-y1)**2

4.47213595499958

In [ ]:
# wap
# a=[(1,3),(7,8),(2,6,(9,3))]
# b=(5,9)
# find the max and min distance points


# a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
# find all the distance among the points
# (1,3) with all other data points

In [248]:
# a=[(1,3),(7,8),(2,6),(9,3))]
# b=(5,9)
# find the max and min distance points
a=[(1,3),(7,8),(2,6),(9,3)]
b=(5,9)

math.sqrt((b[0]-l1[0])**2+(b[1]-l1[1])**2)
for i in a:
    l1=i
    print(math.sqrt((b[0]-l1[0])**2+(b[1]-l1[1])**2))

7.211102550927978
2.23606797749979
4.242640687119285
7.211102550927978

In [ ]:
# 4+6=16+36=52= root of 52= 7.21
# 2+1=4+1=5  root of 5= 2.23
# 3+3=9+9=18 root of 18= 4.242
# 4+6=16+36=52 root of 52= 7.21

In [250]:
# a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
# find all the distance among the points
# (1,3) with all other data points
a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
# (1,3)
for i in a:
    for j in a[1:]:
        print(i,j)

(1, 3) (7, 8)
(1, 3) (2, 6)
(1, 3) (9, 3)
(1, 3) (2, 9)
(1, 3) (10, 12)
(7, 8) (7, 8)
(7, 8) (2, 6)
(7, 8) (9, 3)
(7, 8) (2, 9)
(7, 8) (10, 12)
(2, 6) (7, 8)
(2, 6) (2, 6)
(2, 6) (9, 3)
(2, 6) (2, 9)
(2, 6) (10, 12)
(9, 3) (7, 8)
(9, 3) (2, 6)
(9, 3) (9, 3)
(9, 3) (2, 9)
(9, 3) (10, 12)
(2, 9) (7, 8)
(2, 9) (2, 6)
(2, 9) (9, 3)
(2, 9) (2, 9)
(2, 9) (10, 12)
(10, 12) (7, 8)
(10, 12) (2, 6)
(10, 12) (9, 3)
(10, 12) (2, 9)
(10, 12) (10, 12)

In [252]:
a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
# (1,3)
# we want 1,3 with 7,8,
#         1,3 with 2,6
# a[1:] means (7,8),(2,6),(9,3),(2,9),(10,12)
for i in a:
    print(i)
    for j in a[1:]:
        print(i,j)
# i=1,3  j=7,8
# i=1,3  j=2,6

(1, 3)
(1, 3) (7, 8)
(1, 3) (2, 6)
(1, 3) (9, 3)
(1, 3) (2, 9)
(1, 3) (10, 12)
(7, 8)
(7, 8) (7, 8)
(7, 8) (2, 6)
(7, 8) (9, 3)
(7, 8) (2, 9)
(7, 8) (10, 12)
(2, 6)
(2, 6) (7, 8)
(2, 6) (2, 6)
(2, 6) (9, 3)
(2, 6) (2, 9)
(2, 6) (10, 12)
(9, 3)
(9, 3) (7, 8)
(9, 3) (2, 6)
(9, 3) (9, 3)
(9, 3) (2, 9)
(9, 3) (10, 12)
(2, 9)
(2, 9) (7, 8)
(2, 9) (2, 6)
(2, 9) (9, 3)
(2, 9) (2, 9)
(2, 9) (10, 12)
(10, 12)
(10, 12) (7, 8)
(10, 12) (2, 6)
(10, 12) (9, 3)
(10, 12) (2, 9)
(10, 12) (10, 12)