**PRINT STATEMENTS**

- Basics
- f string
- format
- end operator
- sep operator (seperator)

In [8]:
Num1=10
Num2=20
Num1
Num2

20

In [10]:
Num1=10
Num2=20
print(Num1)
print(Num2)

10
20

In [16]:
Num1=10
Num2=20
print(Num1),print(Num2)  # the ans is none
Num1,Num2

10
20

(10, 20)

In [14]:
Num1=10
Num2=20
print(Num1,Num2)

10 20

In [18]:
Num1+Num2

30

In [22]:
print(30,20,'Python')

30 20 Python

In [28]:
a=100
b=200
c=a+b
    # the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is', c )

the addition of 100 and 200 is 300

In [50]:
name='Python'
age=10
city='Hyderabad'
# my name is python im 10 years old and from hyderabad
print('my name is',name, 'im' ,age, 'years old and from' ,city)

my name is Python im 10 years old and from Hyderabad

In [40]:
a=100
a=1000   #2nd time run it print takes 2nd one is updating 
b=200
c=a+b
    # the addition of 100 and 200 is 300
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200

In [48]:
name='Python'
age=10
city='Hyderabad'
# my name is python im 10 years old and from hyderabad
print('my name is',name, 'im' ,age, 'years old  and from' ,city)
print('my name is {} im {} years old and from {}' .format(name,age,city))
print('my name is {} im {} years old and from {}' .format(city,name,age,))

my name is Python im 10 years old  and from Hyderabad
my name is Python im 10 years old and from Hyderabad
my name is Hyderabad im Python years old and from 10

In [57]:
n1=100
n2=200
add=n1+n2   # the addition of 100 and 200 is 300
sub=n1-n2   # the subtraction of 100 and 200 is 100
mul=n1*n2   # the multiplication of 100 and 200 is 20000
div=n1/n2   # the division of 100 and 200 is 0.5
print('the addition of {} and {} is {}'.format(n1,n2,n1+n2))
print('the subtraction of {} and {} is {}'.format(n1,n2,n1-n2))
print('the multiplication of {} and {} is {}'.format(n1,n2,n1*n2))
print('the division of {} and {} is {}'.format(n1,n2,n1/n2))

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

**f string Method**

In [65]:
n1=100
n2=200
n3=n1+n2
print('the addition of' ,n1, 'and' ,n2, 'is' ,n3)
print('the addition of {} and {} is {}'. format(n1,n2,n3))
print(f'the addition of {n1} and {n2} is {n3}. ')

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300.

In [7]:
n1=100
n2=200
add=n1+n2   # the addition of 100 and 200 is 300
sub=n1-n2   # the subtraction of 100 and 200 is 100
mul=n1*n2   # the multiplication of 100 and 200 is 20000
div=n1/n2   # the division of 100 and 200 is 0.5
print(f'the addition of {n1} and {n2} is {n1+n2}')
print(f'the subtraction of {n1} and {n2} is  {n1-n2}')
print(f'the multiplication of {n1} and {n2} is  {n1*n2}')
print(f'the division of {n1} and {n2}  is {n1/n2}')

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is  -100
the multiplication of 100 and 200 is  20000
the division of 100 and 200  is 0.5

- we have a situation wants to combine two print statements

In [10]:
print('hello')
print('good morning')

hello
good morning

In [14]:
print('hello good morning')
print('hai')

hello good morning
hai

**END Operator**

$end$

In [27]:
print(20,end='*****')
a=20
print(30)
print(a)

20*****30
20

In [29]:
print(1,end='  ')
print(2,end='  ')
print(3)

1  2  3

In [31]:
print(20,'********',30)

20 ******** 30

In [33]:
print(20, end='****')
print(30)

20****30

- we want to separate the multiple variables in one print statement

In [3]:
print(20, '---->',30)

20 ----> 30

In [ ]:
20 '----->' 30

**SEPARATE OPERATOR**

In [1]:
print(20,30,sep='@@@@')

20@@@@30

In [4]:
print(20,30,50,sep='=')

20=30=50

- end operator used to combine multiple print staememnt
- sep operator used to separate multiple variable in a sinle print statement

In [8]:
print('the addition of 3+4 is',3+4, '.')

the addition of 3+4 is 7 .

In [24]:
print('the addition of 3+4 is',3+4,'.', sep='')

the addition of 3+4 is7.

In [10]:
print('the subtraction of 3-4 is',3-4, '.')

the subtraction of 3-4 is -1 .

In [12]:
print(f'the addition of {3} and {4} is {3+4}')  # F string method

the addition of 3 and 4 is 7

In [16]:
print('the maltiplication of {} * {} is{}'.format(3,4, 3*4))

the maltiplication of 3 * 4 is12

In [28]:
print('the addition of 3+4 is {3+4}',"",sep=".")

the addition of 3+4 is {3+4}.