**List-comprehension-METHODS:
- Method_1: [output forloop]
- Method-2:[If_output    forloop     If-condition]
- Method_3:[Ifoutput  if-cindition  else else-output  for loop]
- Method_4:[If-output  if-con  else  If-output  if-cond  else   else-output  for loop ]**

**Lambda-Functions:**
- Lambda is a keyword used to write functions in a single line
- in list comprehensions we will write ina single line 
- it is a same analogy
- it will reduce the time complexity

In [4]:
def mul(a):
    return(a*a)
ans=mul(10)
ans

100

$Pettern-1$
- Function with one argument

# Syntax:
-**Function name= lambda <argument name>: return output** 
### Function name=Mul
### argument name=a
### return output=a*a

In [24]:
mul=lambda a:a*a
mul(10)

100

In [29]:
def cube(x):
    return(x**3)
cube(20)

8000

In [31]:
cube=lambda x:x**3
cube(20)

8000

$Pattern:2$
- Function With Two Arguments

In [ ]:
# syntax
-**Function Name=lambda <arg1>, <arg2>: return output**

In [41]:
def add(a,b):
    return(a+b)
add(100,200)

300

In [47]:
add=lambda a, b:a+b
add(100,200)

300

In [51]:
def avg(a,b,c):
    return(round((a+b+c)/3,2))
avg(15,29,38)

27.33

In [57]:
avg=lambda a,b,c:round((a+b+c)/3,3)
avg(15,29,38)

27.333

$Pattern:3$
- Default Argument

In [76]:
avg2=lambda a,b,c=405:round((a+b+c)/3,3)
avg2(15,28)

149.333

$Pattern:4$
- if-else

In [79]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(30,40)

40

**syntax:
Function Name=lambda <arg1>, <arg2>: <if output> <if condition> <else> <else output>**

In [83]:
max=lambda a,b: a if a>b else b 
max(100,125)

125

$Pattern:5$
- List cases

In [88]:
List1=['hyd','mumbai','pune']
# ans=[['Hyd','Mumbai','Pune']
ans=[]
for i in List1:
    ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Pune']

In [ ]:
# Step:
lambda <variable>:<output>, <iterator>

In [90]:
lambda i:i.capitalize(), List1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

In [94]:
# Step-1: lambda <variable>:<output>
lambda i: i.capitalize() 
# Step-2: lambda <variable>:<output>, <iterator>
lambda i:i.capitalize(),List1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

**Map**
- Map is used to combine the function and iterator

In [ ]:
# Step-3:
map(lambda <variable>: <output>, <iterable>)

In [99]:
map(lambda i:i.capitalize(),List1)

In [ ]:
# Step-4: when we apply the output will store at address
# so apply the list or tuple to see the answer
# list(map(lambda i:i.capitalize(),List1))
# tuple(map(lambda i:i.capitalize(),List1))

In [101]:
list(map(lambda i:i.capitalize(), List1))

['Hyd', 'Mumbai', 'Pune']

In [103]:
tuple(map(lambda i:i.capitalize(),List1))

('Hyd', 'Mumbai', 'Pune')

In [ ]:
# step-1:lambda <variable>:<output>
# Step-2: lambda <variable>:<output>, <iterator>
# Step-3:map(lambda <variable>: <output>, <iterable>)
# step:4: list(map(lambda i:i.capitalize(),List1))

In [105]:
lambda i:i.capitalize()
lambda i:i.capitalize(),List1
map(lambda i:i.capitalize(),List1)
list(map(lambda i:i.capitalize(),List1))

['Hyd', 'Mumbai', 'Pune']

In [ ]:
#Q1)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']

#Q2)  l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]

#Q3) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']

#Q4)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']

#Q5)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

In [107]:
#Q1)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
list(map(lambda i:i.upper(),l1))

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [137]:
#Q1)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=list(map(lambda i:i.upper(),l1))
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [139]:
#Q2)  l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]
l1=['hyd','chennai','mumbai','pune']
ans=list(map(lambda i:l1.index(i)*10,l1))
ans

[0, 10, 20, 30]

In [141]:
#Q2)  l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]
l1=['hyd','chennai','mumbai','pune']
list(map(lambda i:l1.index(i)*10,l1))

[0, 10, 20, 30]

In [145]:
#Q3) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']
str1='hello hai how are you'
ans=list(map(lambda i:i.title(),str1.split()))
ans

['Hello', 'Hai', 'How', 'Are', 'You']

In [149]:
l1=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['chen#ai', 'mu#bai']

In [153]:
#Q4)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']

list(map(lambda i:'#' in i,l1))

[False, True, True, False]

**Filter**
- whenever condition statements
- which means we are filtering the answer based on conditon
- map will give boolean outputs, true or false
- true answer we can see by applying filter only

In [156]:
list(filter(lambda i:'#' in i,l1))

['chen#ai', 'mu#bai']

In [160]:
#Q5)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']
l1=['hyd','chen#ai','mu#bai','pune']
list(filter(lambda i:'#' not in i,l1))

['hyd', 'pune']

In [ ]:
# mistake-1: [don't write if]
# list(filter(lambda i: "if" '#' in i, l1))
# mistake-2:[don't write output]
# list(filter(lambda i:"i if"  #' in i, l1))

In [166]:
l1=[0,1,2,3,4,5]
summ=0
for i in l1:
    summ=summ+i

print(summ)

15

**reduce**
- reduce is a method to write all ibuily functions using **lambda** method
- it is available in a package called **func tools**
- level-1: reduce(lambda sum,i: sum+i, list1)
- level-2: reduce(lambda sum,i: sum+i,list1,value)
- in level-1 by default sum=0
- level-2: the sum starts with some value

In [176]:
import functools

dir(functools)

In [198]:
l1=[0,1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [188]:
# level-1: reduce(lambda sum,i: sum+i, list1)
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1)

15

In [180]:
# level-2: reduce(lambda sum,i: sum+i,list1,value)
import functools
list1=[0,1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1,200)

215

In [186]:
# level-1: reduce(lambda sum,i: sum+i, list1)
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda val,i:val*i,list1)

120

In [ ]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1)

from import functools reduce
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1)

import functools as ft
list1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,list1)

In [190]:
import functools
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1)

15

In [192]:
from import functools reduce
list1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,list1)

SyntaxError: invalid syntax (1823801362.py, line 1)

In [194]:
import functools as ft
list1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,list1)

15

In [196]:
import functools
functools

In [ ]:
lambda <variable>:<output>
lambda <variable>: <if output> <if condition> <else> <else output>
map(lambda <variable>:<output>,<iterator>)
filter(lambd <variable>:<condition>,<iterator>)
reduce(lambda <variable1>, <variable2>: var1+var2, <iterator>)