In [17]:
# str1='hello hi how are you'
# ans=['Hello', 'Hi', 'How', 'Are', 'You']
#str1=['hello hi how are you']
str1='hello hi how are you'
ans=[]
for i in str1.split():
    ans.append(i.title())

ans
# method-1:

['Hello', 'Hi', 'How', 'Are', 'You']

In [11]:
str1='hello hi how are you'
str1.split()

['hello', 'hi', 'how', 'are', 'you']

In [ ]:
sir in default argument can we provide 2 default arguments?  'yes'

In [21]:
l1=['Ramesh','suresh','satish']
l2=[20,30,40]
# 'Ramesh age is 20'
# 'suresh age is 30'
# 'sathish age is 40'
for i in range(len(l1)):
    print(f"{l1[i]} age is {l2[i]}")

Ramesh age is 20
suresh age is 30
satish age is 40

$Zip-Method$

In [24]:
l1=['Ramesh','suresh','satish']
l2=[20,30,40]
l3=['Hyd','Mumbai','Chennai']
for i,j,k in zip(l1,l2,l3):
    print(f"{i} has age is {j} and he is from {k}")

Ramesh has age is 20 and he is from Hyd
suresh has age is 30 and he is from Mumbai
satish has age is 40 and he is from Chennai

**Dictionary**
- Strings represen in quotes
- list represent in square brackets
- tuple represent in paranthsis
- sets represent in curly braces with only one value
- Dictionary represent in curly braces with two values
- dictionary has key: value pair
- dictionary elements are in pair
   - one element called as **key**
   - onther element called as **value**

In [ ]:
l1=['Ramesh','suresh','satish']
l2=[20,30,40]

{key:value}
{key1: value1, key2: value2, key3: value3}

In [30]:
dict={'Ramesh':20,'suresh':30,'satish':40}
dict

{'Ramesh': 20, 'suresh': 30, 'satish': 40}

In [34]:
type(dict)

dict

- Intialization
- Max
- Min
- len
- Sum
- Sorted
- Reversed
- Mutable vs immutable
- Index operations
- Concatenation
- Slicing
- Method

**intialization**

In [ ]:
dict={'Ramesh':20,'Suresh':30,'Satish':40}
# key int value string
# key string value list vice versa
# key list value

In [50]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
dict1

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

In [52]:
dict2={20:'Ramesh',30:'Suresh',40:'Satish'}
dict2

{20: 'Ramesh', 30: 'Suresh', 40: 'Satish'}

In [54]:
dict3={'Ramesh':'20','Suresh':'30','Satish':'40'}
dict3

{'Ramesh': '20', 'Suresh': '30', 'Satish': '40'}

In [70]:
dict4={'Ramesh':20,'Ramesh':30}
dict4

# keys are important
# when same keys but different value
# it will take the latest value

{'Ramesh': 30}

In [60]:
d5={'Ramesh':20,'Suresh':20}
d5

{'Ramesh': 20, 'Suresh': 20}

In [64]:
d6={'Ramesh':20,'Ramesh':20}
d6

# duplicates are not allowed

{'Ramesh': 20}

In [66]:
d7={'Fruit':'Apple','Cost':10.5,'Count':100,'avg':True}
d7

{'Fruit': 'Apple', 'Cost': 10.5, 'Count': 100, 'avg': True}

In [68]:
d8={True:'yes'}
d8

{True: 'yes'}

In [72]:
d9={'age':[10,20,30]}
d9

# list can be a value

{'age': [10, 20, 30]}

In [74]:
d10={[10,20,30]:'age'}
d10

TypeError: unhashable type: 'list'

In [76]:
d11={'age':(10,20,30)}
d11

{'age': (10, 20, 30)}

In [78]:
d12={(10,20,30):'age'}
d12

{(10, 20, 30): 'age'}

- list is **Mutable**
- tuple is **immutable**
- so list can not be a key
- 
**keys are important**

In [84]:
d13={(10,20,30):('A','B','C')}
d13

{(10, 20, 30): ('A', 'B', 'C')}

In [86]:
d14={(10,20,30):['A','B','C']}
d14

{(10, 20, 30): ['A', 'B', 'C']}

In [90]:
d15={[10,20,30]:('A','B','C')}
d15

TypeError: unhashable type: 'list'

In [94]:
d16={'fruites':{'Apple':50}}
d16

{'fruites': {'Apple': 50}}

In [96]:
d17={{'Apple':50}:'fruites'}
d17

TypeError: unhashable type: 'dict'

In [ ]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}       # W
dict2={20:'Ramesh',30:'Suresh',40:'Satish'}       # W
dict3={'Ramesh':'20','Suresh':'30','Satish':'40'} # W
dict4={'Ramesh':20,'Ramesh':30}  # latest value   # W
d5={'Ramesh':20,'Suresh':20}                      # W 
d6={'Ramesh':20,'Ramesh':20} # no duplicate       # W
d7={'Fruit':'Apple','Cost':10.5,'Count':100,'avg':True} # W
d8={True:'yes'}    # W
d9={'age':[10,20,30]} # W
d10={[10,20,30]:'age'} # F
d11={'age':(10,20,30)} # W
d12={(10,20,30):'age'} # W
d13={(10,20,30):('A','B','C')} # w
d14={(10,20,30):['A','B','C']} # W
d15={[10,20,30]:('A','B','C')} # F
d16={'fruites':{'Apple':50}}   # W
d17={{'Apple':50}:'fruites'}   # F

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Satish':40} 
d2={'Ramesh':'20','Suresh':'30','Satish':'40'}      
d3={20:'Ramesh',30:'Suresh',40:'Satish'} 
d4={'Ramesh':20,'Suresh':30,40:Satish}
- Max
- Min
- len
- Sum
- Sorted
- Reversed

In [98]:
d1={'Ramesh':20,'Suresh':30,'Satish':40} 
max(d1)

'Suresh'

In [100]:
min(d1)

'Ramesh'

In [106]:
len(d1)

3

In [118]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [102]:
sorted(d1)

['Ramesh', 'Satish', 'Suresh']

In [122]:
sorted([2,50,0,258,47])

[0, 2, 47, 50, 258]

In [126]:
d1={'Ramesh':20,'Suresh':30,'Satish':40}
list(reversed(d1))

['Satish', 'Suresh', 'Ramesh']

In [110]:
d3={20:'Ramesh',30:'Suresh',40:'Satish'}

In [112]:
max(d3)

40

In [114]:
min(d3)

20

In [116]:
sum(d3)

90

In [120]:
30+'A'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [124]:
d1={'Ramesh':20,'Suresh':30,100:40}
sorted(d1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [128]:
d1={'Ramesh':20,'Suresh':30,100:40}
reversed(d1)

- max/min can work for Homogeneous(same data type)
- some is only work for numbers only
- reversed can work any one

**index**

In [132]:
l=[10,20,30]
l[0]

10

In [134]:
s='python'
s[0]

'p'

In [136]:
d={'Ramesh':20,'suresh':30}
d[0]

KeyError: 0

In [138]:
d['Ramesh']

20

In [ ]:
d1={'Ramesh':20,'Suresh':30,'Satish':40} 
d1['Ramesh']  # 20
d1['Suresh']  # 30
d1['Satish']  # 40

i[d1]

In [148]:
d1={'Ramesh':20,'Suresh':30,'Satish':40} 
for i in d1:
    print(i,d1[i])
    print(f" {i} has age: {d1[i]}")

Ramesh 20
 Ramesh has age: 20
Suresh 30
 Suresh has age: 30
Satish 40
 Satish has age: 40

- whenever we iterate dictionary using for loop in operator it will give keys
- if want to get value we will acess through keys only
- key will work as index

In [159]:
d1={'Fruites':['Apple','Banana','cherry']}
d1['Fruites'][2]

'cherry'

In [161]:
d1={'Fruites':{'Apple':['sweet','Green','custred']}}
d1

{'Fruites': {'Apple': ['sweet', 'Green', 'custred']}}

In [163]:
d1['Fruites']

{'Apple': ['sweet', 'Green', 'custred']}

In [167]:
d1['Fruites']['Apple'][1]

'Green'

In [169]:
d1={'Fruites':[{'cost':[100,200,300]}]}
d1

{'Fruites': [{'cost': [100, 200, 300]}]}

In [181]:
d1['Fruites'][0]['cost'][2]

300

In [183]:
d1={'Fruites':['Apple'],'cost':[{'1kg':[300,500],'2kg':['None']}]}
d1

{'Fruites': ['Apple'], 'cost': [{'1kg': [300, 500], '2kg': ['None']}]}

In [189]:
d1['cost'][0]['2kg'][0]

'None'

In [191]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1

{'Fruites': {'Mango': {'Nagpur': {'MH': {'King': {'Shivaji': {'Shambaji'}}}}}}}

In [205]:
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [207]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

clear
copy
items
values
keys
get
pop

**how to convert list to Dictionary**

In [2]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
for i ,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 30
Satish 40

In [20]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

In [ ]:
# Strings to List
# list to strings
# list to dictionary
# dict to list

**How to convert dictionary to list**

In [35]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

# iterate it i print i=====> key
# using key how to get value
# take two empty list and operand it
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

(['Ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [ ]:
how to convert list to Dictionary

names=['Ramesh','Suresh','Satish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1    
##############################################
How to convert dictionary to list

d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

In [37]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=[key for key in d]
values=[d[key] for key in d]
keys,values

(['Ramesh', 'Suresh', 'Satish'], [20, 30, 40])

**dictionary Comprehension**

In [13]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]

{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

In [17]:
d={keys:values for keys,values in zip(names,age)}
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

**Mutable-immutable**
- List are Mutable
- Strings are immutable
- Tuple are immutable
- dictionary are mutable we can modify the value of a dictionary

In [23]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d['Ramesh']=40
d

{'Ramesh': 40, 'Suresh': 30, 'Satish': 40}

- dictionary is similar to database operations
- keys always unique but values can be change

**concatenation**

In [30]:
d1={'Ramesh':20}
d2={'Fruit':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [36]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Satish', 40)])

In [44]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.values()

dict_values([20, 30, 40])

In [42]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [50]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys()
type(keys),keys

dict_keys

In [52]:
len(keys)

3

In [54]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

- dict_keys is a type of keys represented in alist
- it is looks like **list** but not list
- we can not use list methods here
- for that we need to convert dict_keys to list

In [62]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys() # dict_keys type
list(keys)  # list type

['Ramesh', 'Suresh', 'Satish']

In [64]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
values=d.values() # dict_values type
list(values)  # list type

[20, 30, 40]

In [66]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
items=d.items() # dict_items type
list(items)  # list type

[('Ramesh', 20), ('Suresh', 30), ('Satish', 40)]

In [ ]:
**for loop**
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values  
#####################################################
**list comprehension**
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=[key for key in d]
values=[d[key] for key in d]
keys,values
####################################################
**Methods**
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=list(d.keys())  # without methods
values=list(d.values()) # with nethods

In [68]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=[i.lower() for i in list(d.keys())]  # list-string-list-dictionary
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'satish': '40'}

**get-method**

In [77]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.get('Ramesh')

20

In [79]:
d.get('Ram')

In [83]:
d['Ramesh'] # ans
d['Ram']    # error

KeyError: 'Ram'

In [ ]:
###############Methods######################
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.get('Ramesh') # ans
d.get('r')      # no error - no ans
###########################################
d['Ramesh'] # normal way
d['Ram']  #error

**Update**

In [88]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d1={'Fruits':'Apple'}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruits': 'Apple'}

In [100]:
d.update(Apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruits': 'Apple', 'Apple': 200}

In [110]:
d.update(Apple=200)
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Satish', 40), ('Fruits', 'Apple'), ('Apple', 200), (200, 'Marks')])

In [118]:
d.update([(200,'Marks')])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Satish': 40,
 'Fruits': 'Apple',
 'Apple': 200,
 200: 'Marks'}

In [122]:
t=(200,'Marks')
l=[t] # t means Tuple
d.update([(200,'Marks')])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Satish': 40,
 'Fruits': 'Apple',
 'Apple': 200,
 200: 'Marks'}

- concatenate of two dictionary fails
- but we can combine two dictionarys using update method

In [127]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d1={'Fruits':'Apple'}
d.update(d1)    # dict in dict 
d.update(Apple=200)   # key= value
d.update([(200,'Marks')]) # list of tuple 
d

{'Ramesh': 20,
 'Suresh': 30,
 'Satish': 40,
 'Fruits': 'Apple',
 'Apple': 200,
 200: 'Marks'}

**pop-popitem**

In [133]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.pop('Ramesh')

20

In [135]:
d

{'Suresh': 30, 'Satish': 40}

In [137]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.pop('r')

KeyError: 'r'

In [145]:
l=[100,200,333,444]
l.pop(2)  #index

333

**remove**

In [150]:
l=[100,200,333,444]
l.remove(333)
l

[100, 200, 444]

In [154]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.popitem()

('Satish', 40)

In [156]:
d

{'Ramesh': 20, 'Suresh': 30}

- pop will except a key, corresponding value will be removed
  - pop will return the **value which is removing**
- pop item has no arguments, last key-value pair will be removed 
  - pop item return last **key-value pair**

**Del**
- del means delete

In [165]:
l=[100,200,333,444]
del l[0]
l

[200, 333, 444]

In [167]:
l=[100,200,333,444]
del l
l

NameError: name 'l' is not defined

In [177]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
del d['Suresh']
d

{'Ramesh': 20, 'Satish': 40}

In [185]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
del(d['Ramesh'])
del d['Suresh']
d

{'Satish': 40}

In [175]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
del d
d

NameError: name 'd' is not defined

In [ ]:
count in strings also in list
index in strings also in list
find in strings but not i list
pop in list also in dictionary
remove in list but in dictionary pop item 
concatenation in list====== extend in list
access value using key in dict====== get method
del for list and dictionary
strings to list
list to strings
list to dictionary
dictionary to list
sorted and reversed for all data types

In [10]:
# del for list and dictionary
l=[120,250,351,480]
del l[2]
l

[120, 250, 480]

In [16]:
del l
l

NameError: name 'l' is not defined

In [20]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
del d['Suresh']
d

{'Ramesh': 20, 'Satish': 40}

In [22]:
del d
d

NameError: name 'd' is not defined

In [24]:
# list to dictionary
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

In [34]:
# dictionary to list
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

(['Ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [3]:
# list to strings 
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'satish': '40'}

In [54]:
# strings to list
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
names=list(d.keys())
ages=list(d.values())
print(names)
print(ages)

['Ramesh', 'Suresh', 'Satish']
[20, 30, 40]

In [108]:
# sorted and reversed for all data types
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
sorted(d)

['Ramesh', 'Satish', 'Suresh']

In [114]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
list(reversed(d))

TypeError: 'list' object is not callable

In [96]:
list=[15,87,3,75,65]
sorted(list)

[3, 15, 65, 75, 87]

In [116]:
list=[15,87,3,75,65]
sorted(list,reverse=True)

[87, 75, 65, 15, 3]

In [5]:
l=[15,87,3,75,65]
reversed(l)

In [7]:
list(reversed(l))
l

[15, 87, 3, 75, 65]

In [104]:
str='python'
sorted(str)

['h', 'n', 'o', 'p', 't', 'y']

In [9]:
str='python'
list(reversed(str))

['n', 'o', 'h', 't', 'y', 'p']

In [134]:
#access value using key in dict====== get method
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

d.get('Suresh')

30

In [140]:
#concatenation in list====== extend in list
d1=(100)
d2=(200)
d1+d2

300

In [154]:
# remove in list but in dictionary pop item 
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.popitem()
d

{'Ramesh': 20, 'Suresh': 30}

In [177]:
l=[40,64,87]
l.remove(64)
l

[40, 87]

In [181]:
# pop in list also in dictionary
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.pop('Satish')

40

In [183]:
d

{'Ramesh': 20, 'Suresh': 30}

In [189]:
l=[20,45,87]
l.pop(0)
l

[45, 87]

In [195]:
# index in strings also in list
s='python'
s[1]

'y'

In [193]:
l=[1,25,68,78]
l[2]

68

In [197]:
d={'Ramesh': 20}
d['Ramesh']

20

In [203]:
d1={'Ramesh':20,'Suresh':30,'Satish':40} 
for i in d1:
    print(i,d1[i])
    print(f"{i} has age is:{d1[i]}")

Ramesh 20
Ramesh has age is:20
Suresh 30
Suresh has age is:30
Satish 40
Satish has age is:40

In [241]:
d1={'Fruites':{'Appple':['Sweet','Green','custred']}}
d1['Fruites']['Appple'][2]

'custred'

In [253]:
d1={'Fruites':[{'Cost':[100,200,300]}]}
d1['Fruites'][0]['Cost'][2]

300

In [257]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
d1['Cost'][0]['2kg'][0]

'None'

In [11]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
d1['Cost'][0]

{'1kg': [300, 500], '2kg': ['None']}

In [219]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1

{'Fruites': {'Mango': {'Nagpur': {'MH': {'King': {'Shivaji': {'Shambaji'}}}}}}}

In [265]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']

{'MH': {'King': {'Shivaji': {'Shambaji'}}}}