## DATA VARIABLES

- i download the Git hub
- i create the recipotary
- uploaded the files
- and create a branch name

- variables are used to store the data, 
- and the values can be change
- the variable can be use manipulate to python code

In [1]:
num=100
num

100

In [6]:
num=200
print(num)

200

In [8]:
Number=200
Number

200

In [12]:
number=300
number

300

In [14]:
Number, number

(200, 300)

In [18]:
number123=300
number123

300

In [20]:
123number=400
(123number) first num is not wotking

SyntaxError: invalid decimal literal (359278068.py, line 1)

In [22]:
NUMberone=500
NUMberone

500

In [26]:
number$one=600
special characters is not works

SyntaxError: invalid syntax (838429481.py, line 1)

In [28]:
number&one=600
number&one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1323231619.py, line 1)

In [30]:
numbe*one=700
number*one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3236789201.py, line 1)

In [32]:
number_one=800
number_one

800

In [3]:
number one=900
number one # space is not works

SyntaxError: invalid syntax (130440641.py, line 1)

NUMBER      #works
number      #works 
number123   #works 
123number   #Not work
number$one  #NW
number&one   #NW
number*one   #NW
number_one   #works
number one   #NW
if           #NW
_underscope  #works
    space  #NW

In [38]:
if=600
if

SyntaxError: invalid syntax (852617324.py, line 1)

In [ ]:
# Keywords
if 
else
True
False
for
while 
conditional statements    
loops 
boolean

- variables can be CAPS and small letters,
and Both mix of letters are Accepted
- variables can be a mix of letters and numbers as **suffix**
- variables can not be a mix of letters and numbers as **prefix**
- variables can not be include special characters except **underscope**
- variables can not be includes a **space between word**
- only underscope also consider as a variables
- inbuilt keywords can not be a variables (+,_,*,%)

In [48]:
_=800
_

800

In [50]:
model_accuracy_data=0.6
model_accuracy_data

0.6